#about {
   
    
    h2{
        font-size: $font-medium;
        color: $color-04;
    }
    p {
        letter-spacing: 0.6px;
        color: $color-04;
        text-align: justify;
        margin: 5px;
    }
}