.about {
    
    &__title{
        font-size: $font-medium;
        color: $color-04;
    }
    &__description {
        letter-spacing: 0.6px;
        color: $color-04;
        text-align: justify;
        margin: 5px;
        line-height: 2.5rem;
    }
}