.blocks {
    padding: 4rem 0 4rem 0;

    h2 {
        color: $color-04;
        text-align: center;
        font-size: $font-large;
    }

    ul {
        list-style-type: none;
        font-size: $font-small;
        display: flex;
        justify-content: space-between;
        height: 250px;
        padding: 1rem 0;
        width: 100%;
    }

    li {
        color: $color-02;
        display: block;
        margin: $space-default auto;
        width: 30%;
        
        .img-container {
            display: block;
            height: 200px;
            overflow: hidden;
            width: auto;
        }

        a {
            background-color: $color-04;
            border-radius: 5px;
            color: white;
            display: block;
            font-size: $font-medium;
            margin: $mt auto $mb;
            padding: 10px;
            text-align: center;
            text-decoration: none;
        }
    }

}