.contact {
    &__title { 
        color: $color-04;
        font-size: $font-medium;
    }
    &__input {
        width: 100%;
        padding: 12px 20px;
        box-sizing: border-box;
        border: 1px solid $color-02;
        border-radius: 5px;
        margin: 10px 0 10px 0;

        &:focus {
            border: 2px solid $color-04;
        }
    }
    &__button {
        border: $color-default 1px solid;
        border-radius: 5px;
        background-color: #fff;
        color: $color-04;
        font-size: $font-small;
        padding: 10px;
        text-decoration: none;
        margin-top: 10px;
    }
    &__label{
        font-size: $font-normal;
        color: $color-04;
        margin: 10px 0 10px 0;
    }
}