.destack {
    background-color: $color-04;
    padding: $space-default;

    &__title {
        color: $color-03;
        float: left;
        font-size: $font-large;
        margin-top: 0;
        padding-bottom: 2rem;
    }
    &__image {
        width: 100%;
        height: auto;
        text-align: center;
    }
    &__description {
        font-size: $font-medium;
        color: $bg-color;
        padding: 2rem 0;
        width: 100%;
    }
}