
// Tablet
@media (max-width: 769px) {

    .nav {
        &__link{
            font-size: 2rem;
        }
    }
    .destack {
        &__title {
            font-size: 2.5rem;
        }
        &__description{
            font-size: $font-small;
        }
    }
    .blocks {
        &__title {
            font-size: $font-medium;
        }
        &__img-container {
            height: 130px;
        }
        &__button{
            font-size: $font-normal;
        }
    }
    p {
        font-size: $font-small;
    }
    
}

//mobile
@media (max-width: 426px) {
    .nav {
        &__link{
            font-size: 1.6rem;
        }
    }
    .destack {
        &__title {
            font-size: 2rem;
        }
        &__description{
            margin-bottom: 0;
            line-height: 2rem;
        }
    }
    .blocks {
        &__title {
            font-size: 2rem;
        }
        &__list {
            display: inline;
        }
        &__item{
            width: 90%;
        }
        &__img-container {
            height: 130px;
        }
        &__button{
            font-size: $font-normal;
        }
    }
    div#esquerda, div#direita{
        width: 100%;
        height: auto;
    }
    .contact {
        &__button {
            font-size: 1.5rem;
        }
    }
    .about {
        &__description {
            line-height: 2rem;
        }
    }
}