* {
    border: 0;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

div, 
p {
    display: block;
}

header,
section,
footer {
    display: block;
    margin: 0 auto;
    width: 100%;
    padding: 4rem 0;
}

section {
    padding: 0;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
}

img {
    width: 100%;
    height: auto;
}

body {
    font-family: $font-family-default;
    font-size: $font-small;
    color: $color-default;
}

p {
    color: $color-04;
    font-size: $font-normal;
    margin-bottom: $mb;
    text-align: $align;
}

h1 {
    color: $color-04;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: $font-big;
    margin-top: $mt-02;
}

h2 {
    color: $color-02;
    font-size: $font-medium;
}

.nav {
    padding: 20px;
    text-align: center;
    border-top: 1px solid $color-04;
    &__item {
        display: inline;
    }
    &__link{
        text-decoration: none;
        color: $color-default;
        font-size: $font-medium;
        padding: 10px;
        border-radius: 5px;
        &:hover {
            background-color: $color-04;
            color: $bg-color;
        }
    }
}

div#esquerda, div#direita{
    display: block;
    width: 50%;
	float: left;
	box-sizing: border-box;
    padding: 20px;
    border-top: $color-04 1px solid;
    h2 {
        padding-bottom: 10px;
    }
}

.footer {
    background-color: $color-04;
    float: left;
    &__description {
        color: $bg-color;
        text-align: center;
    }
}